<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/home.css" />
    <title>Engineering Career Counseling</title>
  </head>

  <body>
    <header>
      <div class="logo">
        <img src="https://i.postimg.cc/ryJpP5Rk/Logo-1.png" alt="Logo" />
      </div>
      <nav>
        <ul>
          <li><a href="#">Login</a></li>
          <li><a href="/sinup">Sing-up</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div id="img-top">
      <section class="hero">
        <h1>ENGINEERING CAREER COUNSELING</h1>
        <h2>
          The problems you solve today will shape the world you live in
          tomorrow.
        </h2>
        <a
          href="https://www.instagram.com/rohit_mali_9579?utm_source=qr&igsh=MXRiMHB3ZWRmd3I5YQ=="
          class="btn"
          >Join Us</a
        >
      </section>
    </div>

    <section class="delivery-menu">
      <div class="container">
        <h2>ENGINEERING BRANCHES</h2>
        <div class="delivery-menu-items">
          <div class="delivery-menu-item">
            <img
              src="https://www.shutterstock.com/shutterstock/photos/2284126663/display_1500/stock-photo-data-science-and-big-data-technology-scientist-computing-analysing-and-visualizing-complex-data-2284126663.jpg"
              alt="Computer Engineering"
            />
            <h3>Computer</h3>
            <p>
              A computer is an electronic device that can store, process, and
              communicate information.
            </p>
            <a href="/computer" class="btn">Go to See</a>
          </div>
          <div class="delivery-menu-item">
            <img
              src="https://d3g5ywftkpzr0e.cloudfront.net/wp-content/uploads/2023/07/13220529/Artificial-Intelligence-in-Indonesia-The-current-state-and-its-opportunities.jpeg"
              alt="Artificial Intelligence"
            />
            <h3>Artificial Intelligence</h3>
            <p>
              AI is not about replacing human intelligence, but about augmenting
              it to unlock new possibilities.
            </p>
            <a href="/ai" class="btn">Go to See</a>
          </div>
          <div class="delivery-menu-item">
            <img
              src="https://www.mygreatlearning.com/blog/wp-content/uploads/2019/09/What-is-data-science-2.jpg"
              alt="Data Science"
            />
            <h3>Data Science</h3>
            <p>
              Data Science is not about finding answers, but about uncovering
              the right questions to ask.
            </p>
            <a href="/datascience" class="btn">Go to See</a>
          </div>
          <div class="delivery-menu-item">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Arduino_ftdi_chip-1.jpg/1200px-Arduino_ftdi_chip-1.jpg"
              alt="Electrical Engineering"
            />
            <h3>Electrical and E&TC</h3>
            <p>
              Design, development, and application of electrical systems,
              devices, and technologies to generate, transmit, and utilize
              electrical energy.
            </p>
            <a href="/electrical" class="btn">Go to See</a>
          </div>
          <div class="delivery-menu-item">
            <img
              src="https://media.licdn.com/dms/image/D4D12AQFmGOPmkb_jwg/article-cover_image-shrink_720_1280/0/1696933152013?e=2147483647&v=beta&t=pG3cQQwQeV__b5NJ6_SHMPyovlrE2ZlxTHSOU18C23Y"
              alt="Mechanical Engineering"
            />
            <h3>Mechanical</h3>
            <p>
              Mechanical Engineering is the fusion of creativity and precision,
              transforming ideas into tangible innovations that drive the world
              forward.
            </p>
            <a href="/mechanical" class="btn">Go to See</a>
          </div>
          <div class="delivery-menu-item">
            <img
              src="https://cdn.pixabay.com/photo/2023/06/10/05/36/civil-engineering-8053197_1280.png"
              alt="Civil Engineering"
            />
            <h3>Civil</h3>
            <p>
              Civil engineering deals with the design, construction, and
              maintenance of the physical and naturally built environment.
            </p>
            <a href="/civil" class="btn">Go to See</a>
          </div>
        </div>
      </div>
    </section>

    <section class="how-it-works">
      <div class="container">
        <h2>Features Of Website</h2>
        <div class="how-it-works-items">
          <div class="how-it-works-item">
            <img
              src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHdlYmluYXIlMjBBSSUyMGFuZCUyMERhdGElMjBTY2llbmNlfGVufDB8fDB8fHww"
              alt="Webinars"
            />
            <h3>Webinars</h3>
            <p>
              Lorem ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
            <a href="\webinar" class="btn">See</a>
          </div>

          <div class="how-it-works-item">
            <img
              src="https://images.unsplash.com/photo-1557804506-669a67965ba0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8d2ViaW5hciUyMFdlYiUyMERldmVsb3BtZW50fGVufDB8fDB8fHww"
              alt="Webinars"
            />
            <h3>Aluminia</h3>
            <p>
              Lorem ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
            <a href="\webinar" class="btn">See</a>
          </div>

          <div class="how-it-works-item">
            <img
              src="https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8d2ViaW5hciUyMEFJJTIwYW5kJTIwRGF0YSUyMFNjaWVuY2V8ZW58MHx8MHx8fDA%3D"
              alt="Webinars"
            />
            <h3>Trend's</h3>
            <p>
              Lorem ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
            <a href="\webinar" class="btn">See</a>
          </div>
        </div>
      </div>
      <center>
        <div>
          <button id="btn-s">Add New Webinar</button>
        </div>
      </center>
    </section>

    <section class="how-it-works">
      <div class="container">
        <h2>Blocks, Articles, and Reviews</h2>
        <div class="team-container">
          <div class="team-member">
            <img
              src="https://yt3.googleusercontent.com/C3fYEwQskO0SjgK_gsqHvzfvvB1Sx1bKnTek7wu4RnKA-L-c_0zLJntGWDhOOlBbbOAL5R2OfJY=s900-c-k-c0x00ffffff-no-rj"
              alt="Shradha Khapara"
            />
            <div class="info">
              <h3>Shradha Khapara</h3>
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.
              </p>
              <div class="arrow">➔</div>
              <button id="btn-1">Add Comment</button>
              <button id="btn-2">Delete Comment</button>
            </div>
          </div>
          <div class="team-member">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoT6cOYMrURrFDY-g4Rlx5JAHSpYusZrTYvw&s"
              alt="Alakh Pandey Sir"
            />
            <div class="info">
              <h3>Alakh Pandey Sir</h3>
              <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.
              </p>
              <div class="arrow">➔</div>
              <button id="btn-1">Add Comment</button>
              <button id="btn-2">Delete Comment</button>
            </div>
          </div>
        </div>
      </div>
      <button id="btns" class="btn" style="font-size: 15px">
        <a href="">Add New Article/Review</a>
      </button>
    </section>

    <section class="peer-discussion-section">
      <form action="">
        <section class="about">
          <div class="container-forum">
            <div class="about-content">
              <h2 class="about-title">Peer Discussion Forums</h2>
              <p class="about-description">
                Join us in fostering connections and building success together
              </p>
            </div>
            <div class="about-image">
              <img
                src="https://t3.ftcdn.net/jpg/06/44/37/36/360_F_644373690_ndvq2mb7Ihgjbg7DsuVT1CEeNDtLYrdn.webp"
                alt="About image"
              />
            </div>
          </div>
          <button id="btns" class="btn">
            <a href="https://chat.whatsapp.com/B7NXT8bdOAn70zfg7nzy1M"
              >CLICK TO CONNECT</a
            >
          </button>
        </section>
      </form>
    </section>

    <section class="order-online">
      <div class="container">
        <h2>Order online with our simple checkout.</h2>
        <p>
          Lorem ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
        <a href="#" class="btn">Get our app</a>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>Support business.</p>
      </div>
    </footer>
  </body>
</html>
